*,
html {
    box-sizing: border-box;
}

body {
    max-width: 700px;
    width: 100%;
    margin: 7rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: hsl(0, 0%, 8%);
}

button {
    all: unset;
    min-width: 9em;
    margin-bottom: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    padding: 0.5rem 1rem;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 0.6rem;
}

h5 {
    text-align: center;
    margin: 0;
}

p {
    text-align: center;
    margin-bottom: 1.5rem;
}

img {
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10rem;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 2rem;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: .5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-location {
    color: hsl(75, 94%, 57%)
}


.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}